In [7]:
import pandas as pd
import numpy as np
#import geopandas
import matplotlib.pyplot as plt
import osmnx as ox
import folium
from folium import plugins

In [8]:
file = 'Datas/inventario_instalaciones_fotovoltaicas_2021.csv'

df = pd.read_csv(file, delimiter=';',
                 usecols = ['Centro','Latitud','Longitud','Uso del edificio', 'Potencia KWp', 'Empresa instaladora', 'Puesta en servicio'])

## Deja renomer des colonnes

In [9]:
df = df.rename(columns={'Uso del edificio': 'Uso', 'Potencia KWp': 'Potencia', 'Empresa instaladora': 'Empresa', 'Puesta en servicio': 'DateInst'})

# Giga interessant (à creuser pour Vehiculos=

In [10]:
group=df.groupby(["Uso"])
test = group.size().reset_index(name='counts')
test

               Uso  counts
0       deportivo        1
1       seguridad        1
2          social        1
3   administrativo      11
4          almacén       1
5         cultural      21
6        deportivo      17
7        educativo      18
8   medioambiental       4
9            mixto       6
10       sanitario       2
11       seguridad       6
12          social      16

                                Empresa
AURA                                 20
PECSA                                15
FERROVIAL                             9
DRAGADOS                              8
OHL                                   4
SAVEFFI                               4
EULEN                                 4
ORTIZ                                 3
ACCIONA                               3
IMESAPI                               2
CYOPSA                                2
POWEN                                 1
FULTON                                1
AVELSA (Avance Electrico S.L)         1
ORTHEM                                1
Ortiz                                 1
CONDISA                               1
CONDISA (grupo Ortiz)                 1
ETRALUX                               1
ELECTOSA                              1
UGARTE                                1